/build/
/dep/gmp-6.2.0
/bin
/obj

*.bin
*.exe
*.layout
*.depend
202*bmp
callgrind.out*
gmon.out
wp43s.sav
wp43s.dSYM
.DS_Store

# used by cLion
.idea/

# / before the executable files else directories under src/ are ignored
/wp43s
/.vscode
