/build/
/dep/gmp-6.2.0/
/bin
/obj

*.bin
*.exe
*.layout
*.depend
202*bmp
callgrind.out*
gmon.out
wp43s.sav
wp43s.dSYM
.DS_Store

# used by cLion
.idea/

!binaries/windows/wp43s.exe
!binaries/dmcp/keymap.bin
!binaries/dmcp/testPgms.bin
!binaries/dmcp/WP43S_qspi.bin

# / before the executable files else directories under src/ are ignored
/testSuite
/testTtf2RasterFonts
/wp43s
/.vscode
