macOS:
  stage: build
  script:
    - make rebuild
  artifacts:
    paths:
      - wp43s
  tags:
    - macos

linux:
  stage: build
  script:
    - make rebuild
  artifacts:
    paths:
      - wp43s
  tags:
    - linux

windows:
  stage: build
  script:
    - C:\git-sdk-64\msys2_shell.cmd -defterm -mingw64 -no-start -c "make rebuild"
  artifacts:
    paths:
      - wp43s.exe
  tags:
    - windows

dm42:
  stage: build
  script:
    - cd DMCP_build
    - ./build_GMP_static_ARM_library
    - ./build_WP43S.pgm_for_DM42_hardware
  artifacts:
    paths:
      - DMCP_build/build/WP43S.pgm
      - DMCP_build/build/WP43S_qspi.bin
  tags:
    - dm42

testSuite:
  stage: test
  script:
    - make mrproper
    - make testSuite
    - ./testSuite
  tags:
    - testSuite
